<div class="col-12 row prueba1">
    <div class="col-6 justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary boton">
                <a href="#vuelosDep" id="buttonLinku">
                    {{camino1}}
                </a>
            </button>
        </div>
    </div>
    <div class="col-6 justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-primary boton">
                <a href="#vuelosArr" id="buttonLinku">
                    {{camino2}}
                </a>
            </button>
        </div>
    </div>
</div>